<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- To run as service -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".TetherFi"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.TetherFi"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".main.MainActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:excludeFromRecents="false"
            android:exported="true"
            android:launchMode="singleTask"
            android:noHistory="false"
            android:windowSoftInputMode="adjustResize">

            <!-- Launcher Activity -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- QS Tile Long Press Activity -->
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.foreground.ProxyForegroundService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="" />

        <!-- https://developer.android.com/develop/ui/views/quicksettings-tiles#create-declare-tileservice -->
        <service
            android:name=".service.tile.ProxyTileService"
            android:enabled="true"
            android:exported="true"
            android:icon="@drawable/ic_wifi_tethering_24"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>

            <!-- Mark Tile active -->
            <meta-data
                android:name="android.service.quicksettings.ACTIVE_TILE"
                android:value="true" />

            <!-- Tile can be toggled -->
            <meta-data android:name="android.service.quicksettings.TOGGLEABLE_TILE"
                android:value="true" />


        </service>


    </application>

</manifest>